
html, body {
  height: 100%;
  width: 100%;
  text-align: justify;
  text-justify: inter-word;
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
  color: #222
}

a {
  font-size: 1.1em !important;
}

.navbar {
  padding: .8rem;
}

.navbar-nav nav-item nav-link {
  padding-right: 20px;
}

.dropdown-item, h1, h2 {
  text-align: center;
}


#test {
  height: 500px;
}


@media (min-width: 992px) {
  .about-pic {
    margin-top: 5em;
    margin-left: -2em;
  }

  .carousel-inner {
    height: 30em;
  }
}

p {
  font-size: 1.2em;
}

.carousel-inner img {
  mage-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

footer {
  text-align: center;
}
