extends layout

block content
  .container.pt-4.px-4
  .row
    .col-md-8.mx-5
      h1.mt-4 About Us
      p Founded in 2004, Preschool of America opened its first school in New York City’s historic Chelsea neighborhood. Since then we have opened a total of seven centers throughout Manhattan, and we continue to grow. The founding principle of establishing outstanding day care centers and preschools for New York City families remains uncompromised.
      p Preschool of America prides itself on providing high-quality preschool education with daycare amenities and service in a warm, nurturing environment. We understand that choosing the right center to fit a child’s needs is an important decision, and we strive to meet the expectations of every family we serve.
      p Our Preschool of America programs are carefully researched and thoughtfully taught, and we approach every day with a sense imagination, innovation, and fun to help young children learn comfortably and confidently. Every curriculum includes a variety of interesting and inspiring activities to stimulate early brain development with a focus on creative play. We encourage a love of learning through working and playing with others. Our children have fun while they learn just another way we make sure children get the most out of their experiences at school.
      p At Preschool of America, obluewater2ur beautiful and modern facilities provide each child with the ability to learn and grow physically, cognitively, socially and emotionally. Our full-time programs, a good curriculum that provides plenty of hands-on learning and high quality teachers prepare the children in our schools for elementary school and for life-long learning.
      h1.mt-5 Our Mission
      p Preschool of America is committed to providing a safe, nurturing, and stimulating environment for young children. We provide enriching opportunities every day so students reach their full potential socially, emotionally, physically, and cognitively within the learning environment.
      p The play-based curriculum focuses on literacy, math, science, social and emotional skills, and physical development. Classrooms are designed to inspire young learners, capturing each child’s interests, ideas, and independence to encourage a growing awareness of self. We prepare students for on-going schools by continually monitoring their readiness for new learning challenges.
      p We believe that the strength of the program is in the dedication of the teaching staff. Teachers create a kind, caring atmosphere to foster imagination and creativity. We strive to create mutual respect and encourage daily communication between parents, teachers, and administrators. We believe parents are the most significant adults in a child’s life; therefore, our doors are open to parents at all times.
      p Preschool of America is an organization that values people: the children in our care, their parents, and our employees. We continually work to earn the trust placed in us and strive each day to be the best providers of early childhood education in the community we serve.
    .col-md.mx-3.my-5
      img.w-100.about-pic.my-3(src='/images/child1.png', alt='Child reading')
      img.w-100.about-pic.my-3(src='/images/child2.png', alt='Children having fun') 
      img.d-block.w-100.about-pic.img-fluid.my-3(src='/images/child2.png', alt='Children having fun') 
      
  
