extends layout

block content
  .container.pt-4.px-4
  .row
    .col-md-8.mx-5.px-5
      h1 Admissions
      p Admission to Preschool of America is based on a rolling enrollment system. Families may enroll children at any time. Acceptance is based on space availability. A registration fee is required and can be applied to the wait list if space is not currently available. A deposit is required to enroll all children and guarantee placement at the school.
      p All necessary forms for each student’s file are required to be completed prior to the first day a child attends school. Children must have a current health department medical form at the time of enrollment. Please keep the school updated with ongoing immunization records. Special needs children are evaluated individually prior to enrollment. We are happy to welcome them if it is mutually determined that we can meet their needs.
      h2 Requirements
      ol.reqs
        li A completed registration form
        li A signed policy form
        li A completed Health Department medical form
        li Registration and deposit fees
      h2 School Operation
      p Regular school hours are 8:00 a.m. to 6:00 p.m. Monday through Friday. Please check the local schools' schedule. We offer early care and late care each day.
      p
        | Please click 
        a(href='http://example.com') here
        |  to download the Preschool of America registration form.
      p
        | Please click 
        a(href='http://example.com') here
        |  for the Health Department medical form.
    .col-md.mx-3
      img.w-100.about-pic.my-5(src='/images/child1.png', alt='Child reading')
        
