extends layout

block content
    h1 Preschool of America    
    .container.pt-4
    .row
      .col-lg
          h3.mb-4 Welcome to Preschool of America
          p.mb-2  Welcome to the web site of Preschool of America, one of happiest, friendliest places in New York City for families with children from three months to six years old. At Preschool of America we strive to make every day a learning day, filled with new and wonderful experiences to help young learners find what interests and inspires them. <br/>
          p.mb-2 It is our joy and pleasure to help families find just the right early education setting for their children and we’re sure it’s here with us, in a safe and comfortable place where learning is full of fun. <br/>
          p.mb-2 We are the largest preschool program in the New York City, and our size reflects our experience: over 20 years of outstanding childhood education research and practical application to create the best possible setting for children (and families) with big hopes, dreams, and ideas. <br/>
          p.mb-2 We created our Preschool of America website as a communication channel between home and school. Our website will be updated periodically to keep current and prospective families informed of our services and any new programs that will be offered in the future. The services and programs that we provide are unique in the way that they are researched, implemented, and taught in our schools all in a caring and child-friendly environment. With programs for infants through elementary school students, Preschool of America has something for every family.
      .col-lg
        h3.mb-4 News and Announcements
        p.mb-2 
          | Filler for now
          
        h3.mb-4 Click to find a Preschool of America near you
        P
          | Filler for now
    
  
  
  
