extends layout

block content
  .container
    article.row.single-post.mt-5.no-gutters
      .col-md-12
        .image-wrapper.float-left.pr-3
          img(src='/images/child1.png', alt='')
        .single-post-content-wrapper.pr-3
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ad, ex eaque fuga minus reprehenderit asperiores earum incidunt. Possimus maiores dolores voluptatum enim soluta omnis debitis quam ab nemo necessitatibus.
          br
          br
          |                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ad, ex eaque fuga minus reprehenderit asperiores earum incidunt. Possimus maiores dolores voluptatum enim soluta omnis debitis quam ab nemo necessitatibus.
