doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title #{title}
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css', integrity='sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/styles.css')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.nav-tabs
      a.navbar-brand.order-1.mr-0(href='#') Preschool of America
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavAltMarkup.collapse.navbar-collapse
        .navbar-nav
          a.nav-item.nav-link.active(href='/')
            | Home 
            span.sr-only (current)
          a.nav-item.nav-link(href='/about-us') About Us
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Day Care Program
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='#') Infant Program
              a.dropdown-item(href='#') Toddler Program
              a.dropdown-item(href='#') Nursery Program
              a.dropdown-item(href='#') Preschool Program
              a.dropdown-item(href='#') Pre-K Program 
              a.dropdown-item(href='#') After School Program
              a.dropdown-item(href='#') Summer Camp

          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Extra Curriculum Program
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='#') Mandarin Program
              a.dropdown-item(href='#') Weekend Program
              a.dropdown-item(href='#') Music Program
              a.dropdown-item(href='#') Art Program
              a.dropdown-item(href='#') Dance Program
              a.dropdown-item(href='#') Sports Program
              a.dropdown-item(href='#') Gifted &amp; Talented
          a.nav-item.nav-link(href='/visit-a-school') Visit a School
          a.nav-item.nav-link(href='/admissions') Admissions
          a.nav-item.nav-link(href='/parents') Parents
          a.nav-item.nav-link(href='/careers') Careers
          
          
    block content  
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js', integrity='sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js', integrity='sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1', crossorigin='anonymous')  
    script(src='https://kit.fontawesome.com/b32a134ddc.js')
footer
  hr
  span(style='font-size: 48px; color: Dodgerblue;')
    i.fab.fa-facebook-square
  p 	&copy; 2009-2019 Preschool of America. All Rights Reserved.
